<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>app.component.html</h3>
      <hr>
      <app-servers></app-servers>
      <hr>
      <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>
      <hr>
      <h4>Databinding via two-way-binding</h4>
      <label for="username">Username</label>
      <input
        id="username"
        type="text"
        [(ngModel)]="username">
      <button
        [disabled]="username === ''"
        (click)="onResetUsername()">Reset username</button>  
      <p>{{username}}</p>  
    </div>
  </div>

  <div class="row">
    <div class="col-cs-12">
      <h3>Details</h3>
      <button
        class="btn btn-secondary"
        (click)="onDetailsToggled()">{{ detailsToggled ? "Hide details" : "Show details" }}</button>
    </div>
    <p *ngIf="detailsToggled">Secret pw: tuna</p>
    <div
      *ngFor="let ts of clickTimestamps; let i = index"
      [ngStyle]="{backgroundColor: getBackgroundColor(i)}"
      [ngClass]="{whiteFont: getFontColor(i)}">{{ ts }} - {{ i }}</div>
  </div>
</div>